* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace, sans-serif;
  font-size: 10px;
}

header {
  text-align: right;
  width: 90%;
  max-width: 720px;
  margin: 9px auto 30px auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #333;
  padding: 9px 12px;
  margin-bottom: 9px;
}

.nav-logo {
  text-decoration: none;
  color: #333;
}

.nav-logo h1 {
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-link-item a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  margin: 0 20px;
}

.nav-link-item a:hover,
.nav-link-item a:focus {
  color: #00f;
}

.nav-link-item a:active {
  color: #00f;
}

time {
  font-size: 1.2rem;
}

.main-title {
  text-align: center;
  font-size: 2.7rem;
  color: #333;
  margin-bottom: 18px;
}

main {
  width: 90%;
  max-width: 720px;
  margin: auto;
}

.listed-books {
  list-style: none;
  border: 2px solid #333;
}

.book-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
}

.book-list-item:nth-child(odd) {
  background: #ddd;
}

.book-list-item > p {
  font-size: 1.2rem;
}

.book-list-item > button {
  background: #fff;
  border: 1px solid #333;
  box-shadow: 2px 2px #333;
  cursor: pointer;
  font-family: monospace, sans-serif;
  font-weight: 700;
  padding: 3px 6px;
  transition: all 100ms ease;
}

.book-list-item > button:hover {
  background: #333;
  color: #fff;
  box-shadow: none;
  transform: translate(1px, 1px);
}

.books > hr {
  border: 2px solid #333;
  position: relative;
  left: 35%;
  width: 30%;
  margin: 30px 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.form input[type="text"] {
  border: 3px solid #333;
  padding: 6px;
  margin-bottom: 6px;
}

.form input[type="submit"] {
  align-self: flex-end;
  background: #fff;
  border: 1px solid #333;
  box-shadow: 2px 2px #333;
  cursor: pointer;
  font-family: monospace, sans-serif;
  font-weight: 700;
  padding: 3px 6px;
  margin-right: 2px;
  transition: all 100ms ease;
}

.form input[type="submit"]:hover {
  background: #333;
  color: #fff;
  box-shadow: none;
  transform: translate(1px, 1px);
}

.add-book {
  align-self: center;
  color: #333;
  font-size: 2.7rem;
  margin-bottom: 12px;
}

footer {
  border: 2px solid #333;
  width: 90%;
  max-width: 720px;
  padding: 9px;
  margin: 30px auto;
}
